/* styles.css */

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-family: Arial, sans-serif;
    font-size: 24px;
    color: #333;
}

button {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ff0000;
}
/* estilos.css */

/* Estilos de la imagen */
.imagen {
    width: 400px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
    animation: girar 3s linear infinite; /* Animación de rotación */
}

/* styles.css */

/* estilos.css */

/* Estilos de la imagen */
.imagen-esquina {
    width: 400px; /* Ancho de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    position: absolute; /* Posición absoluta para posicionar las imágenes */
    animation: girar 3s linear infinite; /* Animación de rotación */
}

@keyframes girar {
    from {
        transform: rotate(0deg); /* Rotación inicial */
    }
    to {
        transform: rotate(360deg); /* Rotación completa */
    }
}

/* Posicionamiento de las imágenes en las esquinas */
.imagen-esquina:nth-child(1) {
    top: 0;
    left: 0;
}

.imagen-esquina:nth-child(2) {
    top: 0;
    right: 0;
}

.imagen-esquina:nth-child(3) {
    bottom: 0;
    left: 0;
}

.imagen-esquina:nth-child(4) {
    bottom: 0;
    right: 0;
}
/* En tu archivo styles.css */
@media (max-width: 768px) {
    /* Estilos para dispositivos con ancho máximo de 768px (tabletas y móviles) */
    .imagen-esquina {
        width: 50px; /* Ancho más pequeño para dispositivos móviles */
    }
}

